body {
    margin: 0;
}

/* #title {
    margin: 50px;
    font-size: 30px;
} */

#navbar {
    /* margin-top: 30px; */
    padding-top: 30px;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    /* justify-content: flex-end; */
    background-color: lightgrey;
}

#navbar div {
    margin: 20px;
    font-size: 20px;
}

#navbar a:link, #navbar a:visited {
    color: lightcoral;
    text-decoration: none;
    cursor: pointer;
  }
  
  #navbar a:link:active, #navbar a:visited:active {
    color:lightcoral;
  }

  #navbar a:hover {
      color: rgb(190, 74, 74);
  }